.recipeCardContainer{
 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

 .recipeCard{

  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: red;
  padding: 10px;
  border-radius: 25px;
 }

  .cardImage{
    width: 20rem;
    border-radius: 25px;
    
   
  }
 
  /* css düzeltilecek */
