.recipeCardContainer{
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

 .recipeCard{

  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0,0.6);
  padding: 10px;
  border-radius: 25px;
 }

  .cardImage{
    width: 20rem;
    border-radius: 25px;
  
  }

  .cardImage:hover{
    transform: scale(1.08);
  }

  .cardButton{
    background-color: #FBDF5C;
    padding: 1rem;
    border: none;
    border-radius: 15px;
   
  }

  .cardButton:hover{
    cursor: pointer;
    background-color: #c0bd19;
    box-shadow:  10px 5px 4px rgba(0, 0, 0, 0.5);
  }
 
  /* css düzeltilecek */
