*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body{
  overflow-x: hidden;
}

.totalContainer{
  background: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), 
  url(./assets/mariana-medvedeva-usfIE5Yc7PY-unsplash.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #A2C15A; */
  width: 100%;
  min-height: 100vh;

}



.date{
  background: linear-gradient(to bottom, rgba(150, 105, 105, 0.4), rgba(7, 15, 92, 0.5));
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
}

.logOutButton{
  background-color: red;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  margin-left: 1rem;
  color: white;
}

.logOutButton:hover{
  cursor: pointer;
  transform: scale(1.2);
}


  